doctype html 
html 
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Таблиця користувачів
    link(rel="stylesheet", href="/style.css")
  body
    h1 Список користувачів
    table 
        thead 
            tr 
                th Ім'я
                th Вік
                th Електронна пошта
        tbody 
            each user in users
                tr 
                    td= user.name
                    td= user.age
                    td= user.email